<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">List Accounts</div>
                <div class="col-md-6 text-right"><a href="#" data-type="show" data-hide="Hide Form" data-show="Add Account" id="addAccountButton" class="btn btn-sm btn-primary">Add Account</a></div>
            </div>
        </div>
        <div class="panel-body">
            <div class="account-form">
                <div class="row">
                    <div class="col-md-2">
                        <select class="form-control" id="hostname">
                            {{#each supportList }}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" name="account" id="account" placeholder="Account or Cookie" />
                    </div>
                    <div class="col-md-2 text-right">
                        <button type="submit" class="btn btn-primary" id="addAccount">Save Changes</button>
                    </div>
                </div>
            </div>


            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="tb-heading">
                        <th>#</th>
                        <th>Hostname</th>
                        <th>Account or Cookie</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Expiration</th>
                        <th class="text-center"><a href="" class="btn btn-xs btn-success">Check All</a></th>
                    </tr>
                </thead>
                <tbody>
                {{#each accounts}}
                    <tr id="acc-{{id}}" class="tb-items" data-id="{{id}}" data-hostname="{{hostname}}">
                        <td>{{id}}</td>
                        <td class="hostname">{{hostname}}</td>
                        <td>{{data}}</td>
                        <td class="text-center">{{type}}</td>
                        <td class="text-center account-status"><span class="label {{#ifEquals status 'valid'}}label-success{{else}}label-danger{{/ifEquals}}">{{status}}</span></td>
                        <td class="text-center">{{expire}}</td>
                        <td class="text-center">
                            <a class="btn btn-xs btn-info checkAccBtn">Check</a>
                            <a class="btn btn-xs btn-danger deleteAccBtn">Delete</a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>